extends ../layouts/application.pug

block header
  = t('views.tasks.new.title')

block content
  +formFor()(action=route('tasks') method='post')
    +input(task, 'name', errors)(type="text")
    +input(task, 'description', errors)(type="text")
    +select(task, 'statusId', errors, statuses)
    +select(task, 'executorId', errors, users)
    +submit(status)(value=t('views.tasks.new.submit'))
